.star-rating-div{
  margin-top: 2%;
  margin-left: -10px !important;
  .decrease-cart-button{
    padding: 6px 13.5px;
  }
}

.seller-name-div{
  margin-bottom: 1%;
  color: #ff0059;
}

.not-enough-ratings-span{
  color: #88868e;
}

.view-atc-button{
  width: 95%;
  margin-bottom: 5% !important;
  background-color: pink !important;
}

.product-img-title-style{
  width: 100%;
  border-radius: 4px;
}